.navbar-lateral-card-container {
    width: 100%;
    height: 10%;
}

.navbar-lateral-card {
    width: 100%;
    height: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: calc(var(--espaco-padrao) / 2)
             calc(var(--espaco-padrao) * 1.5)
             calc(var(--espaco-padrao) / 2)
             calc(var(--espaco-padrao) * 1.5);
    color: #c5fdd5;

}


.navbar-lateral-card-img, .navbar-lateral-card-img-hover {
    font-size: var(--fonte-h4) !important;    
}

.navbar-lateral-card-img-hover {
    margin-right: 5%;
}


.navbar-lateral-cards .active {
    background-color: #30884a;
    border-radius: var(--borda-padrao);
    color: var(--light-font) !important;
}


.navbar-lateral-cards .not-active {
    background-color: transparent;
}

.navbar-lateral-card-texto{
    font-weight: 700 !important;
    word-wrap: normal;
    font-size: var(--fonte-h5);
}

.not-active .navbar-lateral-card-texto {
    font-weight: normal !important;
}