.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 25%;
    background-color: rgb(238, 255, 127);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: linear-gradient(180deg, #14B74D 0%, #FFFFFF 50%);
}

.image-card-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    width: 100%;
}


.text-card-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 47%;
    justify-content: space-around;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    
}

.texto {

    font-size: 20px;
    text-align: justify;
}