.quantidade-usuario-titulo {
    font-weight: 600 !important;
    font-size: var(--fonte-h6) !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quantidade-usuario-valor {
    font-weight: 400 !important;
    font-size: var(--fonte-pequena) !important;
    margin-right: calc(var(--espaco-padrao) * 2);
}

.taxa-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}