.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    padding: 0 !important;
    margin: 0 !important;
    flex-grow: 1;
}

.navbar-container {
    padding: 0 !important;
    flex-direction: row;
    display: flex !important;
    align-items: center;
}

.navbar-logo {
    margin-right: 2% !important;
}
.navbar-navigation-options {
    display: flex;
    flex-direction: row;
    width: 40%;
    flex-grow: 1;
}

.navbar-navigation-options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.navbar-navigation-options-item {
    transition: all 0.1s ease-in-out;
}

.navbar-navigation-options-item:hover {
    font-weight: 700 !important;
}

.navbar-container-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0.05;
}

.navbar-button-login, .navbar-button-cadastro {
    font-weight: bold;
}

.navbar-button-login {
    background-color: #F0F0F0 !important;
    color: #000 !important;
    
}

.navbar-button-cadastro {
    background-color: #000 !important;
}