.filtro-card {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-rows: auto;
    row-gap: calc(var(--espaco-padrao) * 2);
}

.filtro-titulo {
    font-weight: 800 !important;
    color: var(--dark-font);
}

.filtro-slider-container {
    display: flex;
    flex-direction: column;
}

.filtro-slider-min-max-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ================================================================ */

.filtro-disponibilidade-container {
    display: flex;
    flex-direction: column;
}


.filtro-check-box {
    color: black;
}

.Mui-checked {
    color: black !important;
}

.MuiFormControlLabel-root {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.MuiCheckbox-root {
    padding: 3px !important;
}


/* ================================================================ */

.filtro-avaliacao-container {
    display: flex;
    flex-direction: column;
}

.filtro-avaliacao-rating-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.filtro-disponibilidade-texto, .filtro-avaliacao-texto, .filtro-slider-minimo, .filtro-slider-maximo {
    font-weight: 700 !important;
    color: rgb(58, 58, 58);
}