.filtro-card {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-rows: auto;
    row-gap: calc(var(--espaco-padrao) * 2);
}

.filtro-titulo {
    font-weight: 500 !important;
    font-size: var(--fonte-h5) !important;
    color: var(--dark-font);
    margin-bottom: calc(var(--espaco-padrao) * 1) !important;
}

.filtro-slider-container {
    display: flex;
    flex-direction: column;
}

.filtro-slider-min-max-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ================================================================ */

.filtro-disponibilidade-container {
    display: flex;
    flex-direction: column;
}


.filtro-check-box {
    color: black;
}

.Mui-checked {
    color: black !important;
}

.MuiFormControlLabel-root {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.MuiCheckbox-root {
    padding: 3px !important;
}


/* ================================================================ */

.filtro-avaliacao-container {
    display: flex;
    flex-direction: column;
}

.filtro-avaliacao-rating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px calc(var(--espaco-padrao) * 2) !important;
}

.filtro-disponibilidade-texto, .filtro-avaliacao-texto, .filtro-slider-minimo, .filtro-slider-maximo {
    font-weight: 700 !important;
    color: rgb(58, 58, 58);
}

.filtro-avaliacao-texto {
    margin-right: calc(var(--espaco-padrao) * 2) !important;
}


    /* ================================================================ */

.filtro-botao {
    background-color: #099250 !important;
    color: var(--dark-font) !important;
}

.loading-text {
    font-weight: 800 !important;
    color: var(--light-font) !important;
}

.MuiLoadingButton-loadingIndicator {
    color: white !important;
}

.MuiLoadingButton-loading .loading-text {
    color: transparent !important;
}