.professores-alta-professor-card {
    width: 20%;
    height: 100%;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: calc(var(--espaco-padrao));
}

.professores-alta-professor-card-info-nome {
    font-weight: 400 !important;
    font-size: 1.2rem !important;
}

.professores-alta-professor-card-info-instrumentos {
    font-weight: 400 !important;
    font-size: 1.0rem !important;
    color: #5C5C5C;
}