.btn-padrao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-padrao:hover {
    cursor: pointer;
    background-color:#2fd469;
    color: black;
    border-color: black;
    
}