.professor-card {
    width: 100%;
    height: auto;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
}

.professor-card:not(:last-child) {
    margin-bottom: calc(var(--espaco-padrao) * 2);
}

.professor-card-primeira-parte {
    width: 5%;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.professor-card-segunda-parte {
    width: 95%;
    height: 100%;
    padding-left: calc(var(--espaco-padrao) * 2);
    display: grid;
    grid-template-rows: auto;
    row-gap: calc(var(--espaco-padrao) * 2);
}

.professor-card-nome-instrumento-texto {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.professor-nome-texto {
    font-weight: 800 !important;
    color: var(--dark-font);
    margin-right: calc(var(--espaco-padrao) * 1) !important;
}

.professores-avaliacao-texto {
    font-weight: 600 !important;
    color: var(--avaliacao);
}

.professor-informacoes-adicionais-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.professor-informacoes-adicionais-texto {
    font-weight: 500 !important;
    color: var(--dark-font);
    white-space: nowrap;
}

.professor-preco-texto {
    font-weight: 700 !important;
    color: var(--dark-font);
}


.professor-descricao-texto {
    font-weight: 500 !important;
    color: var(--dark-font);
}

.professor-avaliacao-localizacao-container {
    width: fit-content;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    column-gap: calc(var(--espaco-padrao) * 1);
}

.professores-avaliacao-texto {
    font-weight: 700 !important;
}

.professor-localizacao {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.professor-localizacao-texto {
    font-weight: 700 !important;
    color: #788497;
}

.professor-instrumentos-container {
    width: fit-content;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(10, auto);
    column-gap: calc(var(--espaco-padrao) * 1);
}

.professor-instrumentos-card {
    width: fit-content !important;
    height: fit-content !important;
    background-color: #ebebeb !important;
    padding: 2px 8px 2px 8px !important;
}

.professor-instrumentos-card:not(:last-child) {
    margin-right: calc(var(--espaco-padrao) * 1) !important;
}

.professor-instrumentos-card-texto {
    font-weight: 700 !important;
    color: var(--dark-font);
}