.vantagem-card {
    background-color: blue;
    width: 25%;
    height: 100% !important;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important;
    background: linear-gradient(180deg, #14B74D 0%, #FFFFFF 60%);
    text-align: center;
}

.vantagem-card-img-container {
    width: 100%;
    height: 50%;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.vantagem-card-img {
    height: 90%;
}

.vantagens-card-title-container {
    width: 100%;
    height: 12%;
    margin-top: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(8px * 1);
}

.vantagem-card-title {
    font-size: 1.2rem;
}

.vantagem-card-description {
    font-size: 0.9rem;
}