.intervalo-tempo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    float: right;
    margin-bottom: calc(var(--espaco-padrao) * 2);
}

.container-pedidos, .container-instrumentos {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: calc(var(--espaco-padrao) * 2);
}