.navbar-lateral-background {
    height: auto;
    width: 5vw;
    position: relative;
}

.navbar-lateral {
    background-color: #099250;
    width: 5vw;
    height: 100%;
    position: absolute;
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    padding: calc(var(--espaco-padrao) * 4 )
            calc(var(--espaco-padrao) * 1)
            calc(var(--espaco-padrao) * 4)
            calc(var(--espaco-padrao) * 1);
    overflow: hidden;
}

.navbar-lateral:hover {
    width: 18vw !important;
}

.navbar-lateral-logo-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--espaco-padrao) * 3);
}


.navbar-lateral-cards {
    width: 100%;
    height: fit-content;
    padding-top: calc(var(--espaco-padrao) * 1);
}

.hidden {
    display: none;
}
