.navbar-lateral-background {
    height: auto;
    width: 5vw;
    position: relative;
}

.navbar-lateral {
    background-color: #389d57;
    width: 5vw;
    height: 100%;
    position: absolute;
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    padding: calc(var(--espaco-padrao) * 4)
            calc(var(--espaco-padrao) * 1)
            0
            calc(var(--espaco-padrao) * 1);
    overflow: hidden;
}

.navbar-lateral:hover {
    width: 18vw !important;
}

.navbar-lateral-logo-container {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-lateral-cards {
    width: 100%;
    height: 90%;
}

.hidden {
    display: none;
}
