.professores-busca-card {
    width: 100%;
    background-color: white;
    border-radius: var(--borda-padrao);
    display: flex;
    padding: calc(var(--espaco-padrao) * 2) calc(var(--espaco-padrao) * 2) calc(var(--espaco-padrao) * 2) calc(var(--espaco-padrao) * 2);
}

.professores-busca-lugar {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid #E5E5E5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.professores-busca-lugar-nome {
    color: black;
    font-weight: 700 !important;
    margin-left: calc(var(--espaco-padrao) * 1);
}

.professores-busca-campo {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.MuiSelect-select, 	.MuiSelect-multiple, 	.MuiSelect-outlined, 	.MuiSelect-standard {
    border: 0 !important;
    outline: 0 !important;
}

.busca-campo-input {
    width: 100%;
    display: flex;
    padding-left: 8px !important;
    justify-content: center;
}

.busca-campo-input .MuiInputBase-input {
    width: 100% !important; 
    padding: 0px !important;
    color: rgb(97, 97, 97);
    font-weight: 800 !important;
}


.MuiOutlinedInput-notchedOutline {
    border: 0 !important;
}

.MuiSelect-icon {
    background-color: transparent !important;
    color: transparent !important;
}