.titulo {
    font-size: var(--fonte-h3) !important;
    font-weight: bold !important;
    color: #000 !important;
    margin: 0px !important;
    padding: 0px !important;
    width: fit-content !important;
}

.botao {
    background-color: #F4F4F4 !important;
    cursor: pointer;
    margin: 0px;
    border-radius: 10px;
}

.container {
    display: flex !important;
    padding-left: 0px !important;
    width: 100% !important;
    justify-content: space-between;
    flex-direction: row !important;
    padding: 0px !important;
}

.direita {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: calc(var(--espaco-padrao) * 1);
}