:root {
    --espaco-padrao: 8px;
}

.box-vantagens {
    background-color: rgb(255, 255, 255);
    padding: calc(var(--espaco-padrao) * 4) 0 calc(var(--espaco-padrao) * 4) 0;
    height: 80vh;
}

.vantagens-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: space-around;  
}

.vantagens-container-cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vantagens-title {
    
    margin-bottom: calc(var(--espaco-padrao) * 2);
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.vantagem-img {
    height: 100%;
}