.vantagens-box {
    background-color: #ffffff;
}

.vantagens-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
}

.vantagens-container-cards {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
}

/* || Vantagem - card */

.vantagem-card {
    width: 25%;
    height: 100% !important;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important;
    background: linear-gradient(180deg, var(--cor-padrao) 0%, var(--light-font) 60%);
    text-align: center;
}

.vantagem-card-img-container {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--espaco-padrao) * 2);
}

.vantagem-card-img {
    height: 100%;
}

.vantagens-card-title-container {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--espaco-padrao) * 3);
}

.vantagem-card-title {
    font-weight: 700;
}

.vantagem-card-title, .vantagem-card-description {
    color: var(--dark-font);
}

/* ==================================================== */

.vantagens-title {
    margin-bottom: calc(var(--espaco-padrao) * 2);
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.vantagem-img {
    height: 100%;
}