.modal-erro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 169, 169);
    border: 1px solid rgb(255, 0, 0);
    border-radius: 8px;
    box-shadow: 24px;
    padding: 4px;
    color: rgb(158, 0, 0);
    font-size: 24px;
    font-weight: bold;
    width: 300px;
}

.erro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}