.kpi-item {
    background-color: white!important;
    border-radius: 5px!important;;
    width: 100%!important;;
    height: fit-content!important;;
    display: grid!important;;
    grid-auto-rows: auto auto!important;;
    gap: 8px!important;;
}

.kpi-titulo {
    font-weight: 600 !important;
    font-size: 16px !important;
    color: #475467 !important;
}

.kpi-valor {
 
    font-size: 31px !important;
}