.box {
    width: 100%!important;;
    height: 80vh!important;;
    padding-right: calc(var(--espaco-padrao) * 10)!important;;
    padding-left: calc(var(--espaco-padrao) * 10)!important;;
}

.container {
    width: 100%!important;;
    height: 100%!important;;
    padding-top: calc(var(--espaco-padrao) * 4)!important;;
    padding-bottom: calc(var(--espaco-padrao) * 4)!important;;
    padding-right: 0 !important;
    padding-left: 0 !important;
}