.hero-section {
    background: var(--gradient-home);
    background-size: 500% 100%;
    animation: hero-degrade-animado 10s ease infinite alternate;
}

@keyframes hero-degrade-animado {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.hero-box {
    position: relative;
    display: flex;
    width: 100%;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    padding-top: calc(var(--espaco-padrao) * 4);
}

.hero-img-wave {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.hero-container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: calc(var(--espaco-padrao) * 5);
    padding-bottom: calc(var(--espaco-padrao) * 5);
}

.hero-titulo {
    width: 80%;
    font-weight: 900 !important;
    letter-spacing: 2px !important;
    margin-bottom: calc(var(--espaco-padrao) * 3) !important;
    color: var(--light-font)
}

.hero-subtitulo {
    width: 70%;
    font-weight: 500 !important;
    margin-bottom: calc(var(--espaco-padrao) * 4) !important;
    color: var(--light-font);
}

.botao-criar-conta {
    padding: 0.8% 4% !important;
    background-color: var(--light-font) !important;
    font-weight: 700 !important;
    transition: all 1s ease-in-out;
    color: var(--dark-font) !important;
}

.botao-criar-conta:hover {
    /* background-color: var(--dark-font) !important;
    color: var(--light-font) !important; */
}