.home-second,
.home-main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.home-main {
    position: relative;
    background: linear-gradient(100.23deg, #03B441 -0.6%, #00A239 -0.59%, #27CC61 48.13%, #51FA8C 100%);
    background-size: 500% 100%;
    animation: degrade-animado 10s ease infinite alternate;
}

@keyframes degrade-animado {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.home-content-container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.img-wave {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.titulo, .subtitulo, .botao-criar-conta {
    margin: 2% !important;
}

.titulo {
    width: 70%;
    font-weight: bold !important;
    letter-spacing: 2px !important;
}

.subtitulo {
    width: 45%;
    font-weight: normal;
}

.botao-criar-conta {
    padding: 1% 5% !important;
    background-color: #F0F0F0 !important;
    color: #000 !important;
    font-weight: bolder !important;
    font-size: 16px !important;
    border: 2px solid black !important;
}