.barra-porcentagem-vertical-container {
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra-background {
    width: 70%;
    height: 100%;
    position: relative;
    background-color: var(--cor-padrao-escuro);
}

.barra-quantidade {
    width: 100%;
    background-color: var(--cor-padrao);
    position: absolute;
    bottom: 0;
}

.barra-background, .barra-quantidade {
    border-radius: 20px;
}

