:root {
    --aulas-realizadas: #00a65a;
    --aulas-pendentes: #f39c12;
    --aulas-canceladas: #dd4b39;
    --porcentagem-aulas-realizadas: 0%;
    --porcentagem-aulas-pendentes: 0%;
    --porcentagem-aulas-canceladas: 0%;
}

.barra-porcentagem-vertical-container {
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra-background {
    width: 70%;
    height: 100%;
    position: relative;
    background-color: var(--cor-padrao-escuro);
}

.barra-quantidade {
    width: 100%;
    background-color: var(--cor-padrao);
    position: absolute;
    bottom: 0;
}

.barra-background, .barra-quantidade {
    border-radius: 20px;
}
