.modal{
    width: fit-content;
}

.modal-button{
    width: 180px;
    height: 40px;
    border-radius: 5px;
    background-color: #099250;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-button:hover{
    background-color: #0e7c3a;
}

.modal-aula {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 24px;
    padding: 20px;
}

.modal-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.modal-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 10px 5px;
}

.modal-input{
    width: 200px;
    outline: none;
    margin: 5px;
}

.modal-linha{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
    width: fit-content;
}

.modal-icone{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-label{
    font-size: 1rem;
    font-weight: 600;
    margin-right: 10px;
}

.criar-aula-box{
    width: fit-content;
}

.criar-aula{
    width: 200px;
    height: 250px;
    border-radius: 8px;
    margin: 10px;
    background-color: #b9b9b9;
    color: #3b3b3b;
    border: 1px solid #272727;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.6;
    text-transform: capitalize;
}

.criar-aula-texto{
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
}