.pagina-container {
    width: 100%;
    display: grid;
    grid-template-columns: 24% auto;
    column-gap: calc(var(--espaco-padrao) * 2);
}

.encontrar-professor-conteudo {
    height: fit-content;
    width: 100%;
    display: grid !important;
    grid-auto-rows: auto;
    row-gap: calc(var(--espaco-padrao) * 3);
}

.encontrar-professor-titulo {
    font-weight: bold !important;
    color: var(--dark-font);
    margin-bottom: calc(var(--espaco-padrao) * 2) !important;
    font-size: var(--fonte-h4) !important;
}
