#root {
    background-color: #F5F4F7 !important;
}
html, body, #root{
    width: 100%!important;
    height: 100%!important;
}
.pagina-padrao-container {
    width: 95vw;
    height: 100%;
    padding: calc(var(--espaco-padrao) * 4);
}

.pagina-conteudo {
    width: 100%;
    height: 100vh;
}