.pagina-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.metricas-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.metrica-container {
    width: 100%;
    cursor: pointer;
}

.taxas-container {
    width: 43%;
}

.card-grafico-doughnut-container .taxas-container {
    width: 60%;
}

.taxa-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.taxa-nome {
    font-weight: 600 !important;
    font-size: var(--fonte-h6) !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.taxa-valor {
    font-weight: 400 !important;
    font-size: var(--fonte-pequena) !important;
}

.selecionado {
    border: 3px solid var(--cor-padrao-escuro);
}

.informacoes-adicionais-container {
    min-width: 100%;
    display: flex;
    gap: 24px;
    height: 40%;
}

.card-grafico-container,
.card-grafico-doughnut-container {
    width: 55%;
    padding: calc(var(--espaco-padrao) * 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-grafico-doughnut-container {
    width: 45%;
}

.grafico-doughnut-container {
    width: 35%;
}


.grafico-titulo {
    margin-bottom: calc(var(--espaco-padrao) * 2) !important;
}

.graficos-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.metricas-adicionais-container {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.metrica-adicional-card {
    width: 100%;
    padding: calc(var(--espaco-padrao) * 2);
}

.mapa-container {
    width: 100%;
    height: 400px;
}

.mapa-card {
    width: 40%;
    height: 100%;
}
