.container-usuario {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: calc(var(--espaco-padrao) * 2);
}

.container-usuario-notificacao {
    margin-right: calc(var(--espaco-padrao) * 4);
}