#root {
    background-color: #F5F4F7 !important;
}

.mui-root {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}

html,
body, .mui-root, #root {
    width: 100% !important;
    min-height: 100vh !important;
    height: 100vh !important;
}

.pagina-padrao-container {
    width: 95vw;
    min-height: 100%;
    padding: calc(var(--espaco-padrao) * 4);
}

.pagina-container {
    width: 100%;
    min-height: 95%;
    height: 95%;
}

.erro-container {
    position: absolute;
    width: auto;
    height: auto;
    margin-left: 5.5vw;
    bottom: 0;
    margin-bottom: calc(var(--espaco-padrao) * 1);
    display: grid;
    grid-auto-rows: 1fr 1fr;
    grid-gap: 8px;
}