/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nunito:wght@200&display=swap');
 */
 @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --espaco-padrao: 8px;
  --cor-padrao: #00a239;
}

section {
  width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito" !important;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
} 

.title {
  font-size: 2.25rem;
  font-weight: 900;
}

::-webkit-scrollbar {
    width: 5px;
}

/* ::-webkit-scrollbar-track {
  background: transparent !important;
} */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 2px;
}