.card-cadastro-usuario {
    width: 33%;
    height: 40vh;
}

.cadastro-mensal-container {
    margin-top: calc(var(--espaco-padrao) * 4)
}

.cadastro-mensal-titulo {
    font-weight: 400 !important;
    font-size: var(--fonte-h6) !important;
}

.cadastro-mensal-valor {
    font-weight: 600 !important;
    font-size: var(--fonte-h5) !important;
}