.pagina-container {
    width: 100%;
    display: flex;
    border-radius: var(--borda-padrao);
    padding: calc(var(--espaco-padrao) * 3);
    background-color: #fff;
    justify-content: center;
    align-items: center;
    height: 80vh !important;
}

.pagina-conteudo {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: var(--borda-padrao);
    overflow: hidden;
}

.divider {
    margin-bottom: calc(var(--espaco-padrao) * 1) !important;
    margin-top: calc(var(--espaco-padrao) * 1) !important;
    background-color: #099250 !important;
    height: 1px !important;
    border-radius: var(--borda-padrao) !important;
}