.modal .modal-button-open{
    font-size: 20px;
    font-family: "Nunito";
    color: #777;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #f4f4f4;
    border: #d6d6d6 1px solid;
    width: 150px;
}

.modal .modal-button-open:hover{
    background-color: #f4f4f4;
}


.modal-avaliacao {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 24px;
    padding: 4px;
}

.modal-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.modal-usuario{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 10px;
}

.avaliacao-usuario{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 5px;
    margin-left: 0px;
}

.avaliacao-numero{
    color: #faaf00;
    font-size: 18px;
    margin-left: 8px;
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 10px;
}

.comentario_avaliacao{
    width: 600px;
    height: fit-content;
}

.modal-body .modal-button{
    margin: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: #099250;
    color: #fff;
    width: 150px;
}

.modal-body .modal-button:hover{
    background-color: #085b2a;
}

.modal-close .button-close{
    width: fit-content;
    padding: 0px;
    color: #000;
}

.modal-close .button-close:hover{
    background-color: transparent;
}

.modal-area{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-close{
    margin: 10px;
    margin-right: -10px;
    width: fit-content;
    height: fit-content;
}

.avaliado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.avaliado .box-avaliado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: "Nunito";
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    background-color:#099250;
    border: #065730 1px solid;
    border-radius: 5px;
    width: 150px;
    padding: 8px;
}