.pagina-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.metricas-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.metrica-container {
    width: 100%;
    cursor: pointer;
}

.metrica-titulo,
.grafico-titulo,
.taxa-nome {
    font-weight: 600 !important;
    font-size: var(--fonte-h5) !important;
}

.metrica-valor, .taxa-valor {
    font-weight: 400 !important;
    font-size: var(--fonte-h5) !important;
}

.selecionado {
    border: 3px solid var(--cor-padrao-escuro);
}

.informacoes-adicionais-container {
    min-width: 100%;
    display: flex;
    gap: 24px;
    height: 300px;
}

.card-grafico-container,
.card-grafico-doughnut-container {
    width: 55%;
    padding: calc(var(--espaco-padrao) * 2);
}

.card-grafico-doughnut-container {
    width: 30%;
}


.grafico-titulo {
    margin-bottom: calc(var(--espaco-padrao) * 2) !important;
}

.graficos-container {
    width: 80%;
    display: flex;
    flex-direction: row;
}


.grafico-doughnut-container {
    width: 45%;
    height: 90%
}

.metricas-adicionais-container {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.metrica-adicional-card {
    width: 100%;
    padding: calc(var(--espaco-padrao) * 2);
}

.mapa-container {
    width: 100%;
    height: 40%;
}

.mapa-card {
    width: 40%;
    height: 100%;
}