.modal .button {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.modal .button:hover {
    background-color: #fff;
}

.filtro-popper{
    z-index: 1000;
    position: absolute;
}

.filtro-popup {
    background-color: #fff;
    border: 2px solid #b3b3b3;
    border-radius: 4px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.filtro-popup-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.filtro-popup-item .filtro-popup-text{
    padding-right: 10px;
}