.box-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 24px;
}

.box-inputs-modal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 90%;
}

.box-header-modal{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}

.box-titulo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.box-descricao{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content; 
}

.txt-header-modal{
    font-size: 32px !important;
    font-weight: bold;
}


.txt-titulo, .txt-descricao{
    font-size: 24px !important;
    font-weight: bold;
    margin-bottom: 8px;
}
.box-button-salvar-adicionar-exp{
    display: flex;
    width: 100%;
    justify-content: end;
}

.button-salvar-adicionar-exp {
    display: flex;
    background-color: var(--cor-padrao) !important;
    color: var(--light-font) !important;
    font-weight: bold !important;
    width: 30%;
}
