.professores-populares-container {
    width: 100%;
}

.professor-populares-container-titulo {
    width: 100%;
    margin-bottom: var(--espaco-elementos-dash);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.professores-populares-card {
    width: 100%;
    height: auto;
    padding: 0;
    background-color: transparent !important;
    border-radius: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}